USE [ClubPolideportivoDB]
GO
/****** Object:  Table [dbo].[Cuotas]    Script Date: 11/05/2026 19:20:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuotas](
	[CuotaId] [int] IDENTITY(1,1) NOT NULL,
	[SocioId] [int] NOT NULL,
	[Anio] [int] NOT NULL,
	[Mes] [int] NOT NULL,
	[Importe] [decimal](10, 2) NOT NULL,
	[FechaVencimiento] [date] NOT NULL,
	[FechaPago] [date] NULL,
	[Pagada] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CuotaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instalaciones]    Script Date: 11/05/2026 19:20:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instalaciones](
	[InstalacionId] [int] IDENTITY(1,1) NOT NULL,
	[TipoInstalacionId] [int] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[PrecioHora] [decimal](10, 2) NOT NULL,
	[Disponible] [bit] NOT NULL,
	[Observaciones] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[InstalacionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservas]    Script Date: 11/05/2026 19:20:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservas](
	[ReservaId] [int] IDENTITY(1,1) NOT NULL,
	[SocioId] [int] NOT NULL,
	[InstalacionId] [int] NOT NULL,
	[FechaHoraInicio] [datetime] NOT NULL,
	[FechaHoraFin] [datetime] NOT NULL,
	[PrecioTotal] [decimal](10, 2) NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[Observaciones] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReservaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Socios]    Script Date: 11/05/2026 19:20:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Socios](
	[SocioId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellidos] [nvarchar](150) NOT NULL,
	[Dni] [nvarchar](20) NOT NULL,
	[Telefono] [nvarchar](20) NULL,
	[Email] [nvarchar](150) NULL,
	[FechaAlta] [date] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SocioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposInstalacion]    Script Date: 11/05/2026 19:20:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposInstalacion](
	[TipoInstalacionId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[TipoInstalacionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cuotas] ON 

INSERT [dbo].[Cuotas] ([CuotaId], [SocioId], [Anio], [Mes], [Importe], [FechaVencimiento], [FechaPago], [Pagada]) VALUES (1, 1, 2026, 5, CAST(100.00 AS Decimal(10, 2)), CAST(N'2026-05-31' AS Date), CAST(N'2026-05-01' AS Date), 1)
INSERT [dbo].[Cuotas] ([CuotaId], [SocioId], [Anio], [Mes], [Importe], [FechaVencimiento], [FechaPago], [Pagada]) VALUES (8, 2, 2026, 5, CAST(100.00 AS Decimal(10, 2)), CAST(N'2026-05-31' AS Date), CAST(N'2026-05-01' AS Date), 1)
INSERT [dbo].[Cuotas] ([CuotaId], [SocioId], [Anio], [Mes], [Importe], [FechaVencimiento], [FechaPago], [Pagada]) VALUES (10, 4, 2026, 5, CAST(100.00 AS Decimal(10, 2)), CAST(N'2026-05-31' AS Date), CAST(N'2026-05-05' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Cuotas] OFF
GO
SET IDENTITY_INSERT [dbo].[Instalaciones] ON 

INSERT [dbo].[Instalaciones] ([InstalacionId], [TipoInstalacionId], [Nombre], [PrecioHora], [Disponible], [Observaciones]) VALUES (1, 1, N'Pista Pádel 1', CAST(12.00 AS Decimal(10, 2)), 1, NULL)
INSERT [dbo].[Instalaciones] ([InstalacionId], [TipoInstalacionId], [Nombre], [PrecioHora], [Disponible], [Observaciones]) VALUES (2, 1, N'Pista Pádel 2', CAST(12.00 AS Decimal(10, 2)), 1, NULL)
INSERT [dbo].[Instalaciones] ([InstalacionId], [TipoInstalacionId], [Nombre], [PrecioHora], [Disponible], [Observaciones]) VALUES (3, 2, N'Pista Tenis 1', CAST(10.00 AS Decimal(10, 2)), 1, NULL)
SET IDENTITY_INSERT [dbo].[Instalaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservas] ON 

INSERT [dbo].[Reservas] ([ReservaId], [SocioId], [InstalacionId], [FechaHoraInicio], [FechaHoraFin], [PrecioTotal], [Estado], [Observaciones]) VALUES (2, 1, 3, CAST(N'2026-05-02T09:00:00.000' AS DateTime), CAST(N'2026-05-02T10:00:00.000' AS DateTime), CAST(10.00 AS Decimal(10, 2)), N'Activa', NULL)
INSERT [dbo].[Reservas] ([ReservaId], [SocioId], [InstalacionId], [FechaHoraInicio], [FechaHoraFin], [PrecioTotal], [Estado], [Observaciones]) VALUES (3, 1, 3, CAST(N'2026-05-03T09:00:00.000' AS DateTime), CAST(N'2026-05-03T10:00:00.000' AS DateTime), CAST(10.00 AS Decimal(10, 2)), N'Activa', NULL)
INSERT [dbo].[Reservas] ([ReservaId], [SocioId], [InstalacionId], [FechaHoraInicio], [FechaHoraFin], [PrecioTotal], [Estado], [Observaciones]) VALUES (4, 1, 4, CAST(N'2026-05-04T08:00:00.000' AS DateTime), CAST(N'2026-05-04T09:30:00.000' AS DateTime), CAST(12.00 AS Decimal(10, 2)), N'Activa', NULL)
SET IDENTITY_INSERT [dbo].[Reservas] OFF
GO
SET IDENTITY_INSERT [dbo].[Socios] ON 

INSERT [dbo].[Socios] ([SocioId], [Nombre], [Apellidos], [Dni], [Telefono], [Email], [FechaAlta], [Activo]) VALUES (1, N'Juan', N'Ruiz', N'asdd', NULL, N'juan@juan.es', CAST(N'2026-04-10' AS Date), 1)
INSERT [dbo].[Socios] ([SocioId], [Nombre], [Apellidos], [Dni], [Telefono], [Email], [FechaAlta], [Activo]) VALUES (2, N'Prueba', N'dsafsfds', N'sdfdsfsdf', N'686022982', N'prueba@prueba.es', CAST(N'2026-04-10' AS Date), 0)
INSERT [dbo].[Socios] ([SocioId], [Nombre], [Apellidos], [Dni], [Telefono], [Email], [FechaAlta], [Activo]) VALUES (4, N'Pedro', N'Martinez Mazón', N'48290488X', N'666111222', N'Pedro@prueba.es', CAST(N'2026-05-04' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Socios] OFF
GO
SET IDENTITY_INSERT [dbo].[TiposInstalacion] ON 

INSERT [dbo].[TiposInstalacion] ([TipoInstalacionId], [Nombre], [Descripcion]) VALUES (1, N'Pádel', N'Pistas de pádel del club')
INSERT [dbo].[TiposInstalacion] ([TipoInstalacionId], [Nombre], [Descripcion]) VALUES (2, N'Tenis', N'Pistas de tenis del club')
INSERT [dbo].[TiposInstalacion] ([TipoInstalacionId], [Nombre], [Descripcion]) VALUES (3, N'Gimnasio', N'Sala de musculación y fitness')
SET IDENTITY_INSERT [dbo].[TiposInstalacion] OFF
GO
/****** Object:  Index [UQ_Cuotas_Socio_Anio_Mes]    Script Date: 11/05/2026 19:20:28 ******/
ALTER TABLE [dbo].[Cuotas] ADD  CONSTRAINT [UQ_Cuotas_Socio_Anio_Mes] UNIQUE NONCLUSTERED 
(
	[SocioId] ASC,
	[Anio] ASC,
	[Mes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Instalaciones_Nombre]    Script Date: 11/05/2026 19:20:28 ******/
ALTER TABLE [dbo].[Instalaciones] ADD  CONSTRAINT [UQ_Instalaciones_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Socios_Dni]    Script Date: 11/05/2026 19:20:28 ******/
ALTER TABLE [dbo].[Socios] ADD  CONSTRAINT [UQ_Socios_Dni] UNIQUE NONCLUSTERED 
(
	[Dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_TiposInstalacion_Nombre]    Script Date: 11/05/2026 19:20:28 ******/
ALTER TABLE [dbo].[TiposInstalacion] ADD  CONSTRAINT [UQ_TiposInstalacion_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cuotas] ADD  CONSTRAINT [DF_Cuotas_Pagada]  DEFAULT ((0)) FOR [Pagada]
GO
ALTER TABLE [dbo].[Instalaciones] ADD  CONSTRAINT [DF_Instalaciones_Disponible]  DEFAULT ((1)) FOR [Disponible]
GO
ALTER TABLE [dbo].[Reservas] ADD  CONSTRAINT [DF_Reservas_Estado]  DEFAULT ('ACTIVA') FOR [Estado]
GO
ALTER TABLE [dbo].[Socios] ADD  CONSTRAINT [DF_Socios_FechaAlta]  DEFAULT (CONVERT([date],getdate())) FOR [FechaAlta]
GO
ALTER TABLE [dbo].[Socios] ADD  CONSTRAINT [DF_Socios_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Cuotas]  WITH CHECK ADD  CONSTRAINT [FK_Cuotas_Socios] FOREIGN KEY([SocioId])
REFERENCES [dbo].[Socios] ([SocioId])
GO
ALTER TABLE [dbo].[Cuotas] CHECK CONSTRAINT [FK_Cuotas_Socios]
GO
ALTER TABLE [dbo].[Instalaciones]  WITH CHECK ADD  CONSTRAINT [FK_Instalaciones_TiposInstalacion] FOREIGN KEY([TipoInstalacionId])
REFERENCES [dbo].[TiposInstalacion] ([TipoInstalacionId])
GO
ALTER TABLE [dbo].[Instalaciones] CHECK CONSTRAINT [FK_Instalaciones_TiposInstalacion]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [FK_Reservas_Instalaciones] FOREIGN KEY([InstalacionId])
REFERENCES [dbo].[Instalaciones] ([InstalacionId])
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [FK_Reservas_Instalaciones]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [FK_Reservas_Socios] FOREIGN KEY([SocioId])
REFERENCES [dbo].[Socios] ([SocioId])
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [FK_Reservas_Socios]
GO
ALTER TABLE [dbo].[Cuotas]  WITH CHECK ADD  CONSTRAINT [CK_Cuotas_Anio] CHECK  (([Anio]>=(2020) AND [Anio]<=(2100)))
GO
ALTER TABLE [dbo].[Cuotas] CHECK CONSTRAINT [CK_Cuotas_Anio]
GO
ALTER TABLE [dbo].[Cuotas]  WITH CHECK ADD  CONSTRAINT [CK_Cuotas_Importe] CHECK  (([Importe]>(0)))
GO
ALTER TABLE [dbo].[Cuotas] CHECK CONSTRAINT [CK_Cuotas_Importe]
GO
ALTER TABLE [dbo].[Cuotas]  WITH CHECK ADD  CONSTRAINT [CK_Cuotas_Mes] CHECK  (([Mes]>=(1) AND [Mes]<=(12)))
GO
ALTER TABLE [dbo].[Cuotas] CHECK CONSTRAINT [CK_Cuotas_Mes]
GO
ALTER TABLE [dbo].[Instalaciones]  WITH CHECK ADD  CONSTRAINT [CK_Instalaciones_PrecioHora] CHECK  (([PrecioHora]>(0)))
GO
ALTER TABLE [dbo].[Instalaciones] CHECK CONSTRAINT [CK_Instalaciones_PrecioHora]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [CK_Reservas_Estado] CHECK  (([Estado]='COMPLETADA' OR [Estado]='CANCELADA' OR [Estado]='ACTIVA'))
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [CK_Reservas_Estado]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [CK_Reservas_Fechas] CHECK  (([FechaHoraFin]>[FechaHoraInicio]))
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [CK_Reservas_Fechas]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [CK_Reservas_PrecioTotal] CHECK  (([PrecioTotal]>=(0)))
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [CK_Reservas_PrecioTotal]
GO
